*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 1.7em;
}


h1 {
  font-size: 1.5em;
  font-weight: bold;
}

 h3 {
  font-size: 1em;
  font-weight: normal;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
}

.container {
  margin: 0 auto;
  width: 420px;
}

.restaurant-list {
  padding-top: 50px;
  width: 100%;
}

/* I need help with the arrow */

.arrow {
  float: right;
  background-color: #dadada;
  width: 10%;
}

.content {
  padding: 15px;
  float: left;
  width: 90%;
  background-color: #dadada;
  border: 1px solid #49484A;
}

.location:hover {
  color: #0A07A6;
}
